<%- include('../partials/header') %>

<table>
    <h1>Pokedex List:</h1>
 
      <th>Image:</th>
      <th>ID:</th>
      <th>Name:</th>
      <th>Type/s:</th>
      <th>Remove:</th>
    </tr>
  </thead>
<tbody>
  <% pokemons.forEach (function(p) { %>
    <td><img
      src="<%= p.sprites.front_default %>" class="pokemon_image"  ></img>
    </td>
    <td><%= p.id %></td>
    <td><%= p.name %></td>
    <td><%= p.types %></td>
    <td>
      <form
        action="/pokemons/<%= p._id %>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="submit">X</button>
      </form>
    </td>
  </tr>
  <% }); %>
</tbody>

<%- include('../partials/footer') %>
