<%- include('../partials/header') %>

<main>
    <form action="/pokemons/new" method="GET">
    <input type="search" class="search_pokemon" placeholder="Pokemon Name or ID#" name="search_term" required>    
    <button class="button_search" class="button_search_pokemon">Search</button>
    </form>

</main>
<body>
    <p class="pokemon_info">
        <p class="pokemon_name"><%= pokemon ? pokemon.name: "" %></p>
        <p class="pokemon_id">Pokemon ID#: <%= pokemon ? pokemon.id: "" %></p>
    </p>
  <img
      src='<%= pokemon ? pokemon.sprites.front_default: "" %>'    class="pokemon_image"  ></img>


</body>

<%- include('../partials/footer') %>
