<%- include('../partials/header') %>

<main>
    <form action="/pokemons/search" method="GET">
    <input type="search" class="search_pokemon" placeholder="Pokemon Name or ID#" name="search_term" required>    
    <button class="button_search" class="button_search_pokemon">Search</button>
    </form>

</main>
<body>
    <div class="pokemon_info">
    <img
    src='<%= pokemon ? pokemon.sprites.front_default: "" %>'    class="pokemon_image"  ></img>

    
        <h3>Pokemon name:</h3>
        <p class="pokemon_name"><%= pokemon ? pokemon.name: "" %></p>
        <h3>Pokemon ID:</h3>
        <p class="pokemon_id">#<%= pokemon ? pokemon.id: "" %></p>
   
        <h3>Types:</h3>
        <p class="pokemon_type">
            <% if (pokemon && pokemon.types) { %>
                <% pokemon.types.forEach(function(typeObj) { %>
                    <p><%= typeObj.type.name %></p>
                <% }) %>
            <% } %>
         </p>

         <h3>Stats:</h3>
         <p class="pokemon_stats">
            <% if(pokemon && pokemon.stats) { %>
                <% pokemon.stats.forEach(function(statsObj) { %>
                <p><%= statsObj.stat.name %>: <%= statsObj.base_stat %></p>
                <% }) %>
               <% } %>
         </p>
     </div>
     <form action="/pokemons/save?id=<%= pokemon && pokemon.id %>" method="POST" class="pokemon_list">
       <br />
       <button type="submit">Add Pokemon to "My Pokemon List"</button>
     </form>
</body>


<%- include('../partials/footer') %>
