<%- include('../partials/header') %>

<main>
    <form action="/pokemons/search" method="GET">
    <input type="search" class="search_pokemon" placeholder="Pokemon Name or ID#" name="search_term" required>    
    <button class="button_search" class="button_search_pokemon">Search</button>
    </form>
    <div class="pokemon_info_addButton">
        <form action="/pokemons/save?id=<%= pokemon && pokemon.id %>" method="POST" class="pokemon_list">
           <br />
           <button type="submit">Add Pokemon to "My Pokemon List"</button>
         </form></div>
    </div>
</main>
<body>
    <table>

        <tr>
            <th>Pokemon Image:</th>
            <th>Pokemon Name</th>
            <th>Pokemon ID:</th>
            <th>Types:</th>
            <th>Abilities:</th>
            <th>Stats:</th>
          </tr>
<tbody>
    <td class="pokemon_info_image">
        <img src='<%= pokemon ? pokemon.sprites.front_default: "" %>' class="pokemon_image"></img></td>
        <td class="pokemon_name"><%= pokemon ? pokemon.name: "" %></td>
        <td class="pokemon_id">#<%= pokemon ? pokemon.id: "" %></td>
        <td class="pokemon_type">
            <% if (pokemon && pokemon.types) { %>
                <% pokemon.types.forEach(function(typeObj) { %>
                    <p><%= typeObj.type.name %></p>
                <% }) %>
            <% } %>
                </td>
    <td class="pokemon_abililites">
            <% if (pokemon && pokemon.abilities) { %>
                <% pokemon.abilities.forEach(function(abilitiesObj) { %>
                    <p><%= abilitiesObj.ability.name %></p>
                    <% }) %>
                <% } %>
    <td class="pokemon_stats">
            <% if(pokemon && pokemon.stats) { %>
                <% pokemon.stats.forEach(function(statsObj) { %>
                <p><%= statsObj.stat.name %>: <%= statsObj.base_stat %></p>
                <progress value = "<%= statsObj.base_stat %>" max="100"></progress>
                <% }) %>
               <% } %>
                </td>
            </tbody>
        </table>
</body>


<%- include('../partials/footer') %>
