<%- include('../partials/header') %>


<h1>Game List:</h1>

<ul>
    <li>Game Title:</li>
    <li>Release Year:</li>
    <li>Console:</li>
</ul>



<body>
  <h1>Games</h1>
  <% games.forEach (function(g) { %>
  <ul>
    <li><%= g.gameTitle %></li>
    <li><%= g.releaseYear %></li>
    <li><%= g.console %></li>
  </p>
  <% }); %>
</body>
<%- include('../partials/footer') %>
