<%- include('../partials/header') %>

<section id="show-page">
  <div>
    <div>Trainer:</div>
    <div><%= game.trainerName %></div>
    <br />
    <div>Version:</div>
    <div><%= game.versionTitle %></div>
    <br />
    <div>Release Year:</div>
    <div><%= game.releaseYear %></div>
    <br />
    <div>Console:</div>
    <div><%= game.console %></div>
    <br />
  </div>
</section>

<%- include('../partials/footer') %>
